# General Purpose Libraries
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.2.0
tqdm>=4.65.0
joblib>=1.2.0

# NLP-Specific Libraries
nltk>=3.8.0
transformers>=4.30.0

# Web server
flask>=2.3.0        # used in serve.py

# Development and Testing from local to SageMaker
# boto3>=1.28.0     # used in deploy_model.py
# matplotlib        # used in test_concurrent.py
