fastapi>=0.95.0
uvicorn>=0.21.1
mlflow>=2.10.0
boto3>=1.26.0
pydantic>=1.10.7
python-dotenv>=1.0.0

# For xgboost model's inference
numpy==2.2.5
pandas==2.2.3
psutil==7.0.0
scikit-learn==1.6.1
scipy==1.15.2
xgboost==3.0.0